@tailwind base;
@tailwind components;
@tailwind utilities;

body::after {
    content: '';
    background-image: url('/assets/samba.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}