<div class="flex justify-between items-center bg-yellow-500 text-black py-1 px-4 font-samba">
  <div>
    <p>Guess the Famous Samba Hit!</p>
  </div>
  <div>
  <%= link_to 'Terms of Use', terms_of_service_path, class: 'font-samba text-xs' %>　
  <%= link_to 'Privacy Policy', privacy_policy_path, class: 'font-samba text-xs' %>
  </div>
</div>